@font-face { font-family: Product Sans Regular; src: url('Product Sans Regular.ttf'); }
@font-face { font-family: Product Sans Bold; src: url('Product Sans Bold.ttf'); }
body{
	background-color: black;
	font-family: Product Sans Regular;

}
/*navbar*/
img{
	height: 75px;
	width: 75px;	
}
.navbar-dark .navbar-nav  .nav-link {
	color: white;
}
.navbar-dark .nav-pills .nav-link.active{
	background-color: #c6ff27;
	color: black;
	font-weight: 500;
}
.navbar-dark .navbar-nav.nav-pills .nav-item .option:hover{
	color: black;
	background-color:#c6ff27;
	font-weight: 500; 
}
.navbar-toggler{
width: 55px;
height: 40px;
background-color: black;
}
.navbar-toggler .line{
width: 100%;
float: left;
height: 3px;
background-color: white;
margin-bottom: 7px;
}

.one h1{
	margin-left: 10%;
	font-size: 4rem;
	
}

.person{
	height: 100%;
	width: 100%;
}

.rows{
	margin-top:10%;
}
.member .h2{
	font-size: 2rem;
	font-family: Product Sans Bold;
}
.member p{
	font-size: 1.5rem;
}
.two h1{
	margin-top: 12%;
	margin-left: 10%;
	font-size: 4rem;
}
.two div{
	margin-left: 10%;
	margin-top: 5%;
	color: #4b4b4b;
	font-size: 1.5rem;
}


/*button*/
.go{
	padding-top:3%;
	margin-left: 10%;
	padding-bottom: 10%;
}
.two .btn{
	background-color: #c6ff27;
	color: black;
	font-weight: 500;
}
button img{
	height: 30px;
	width: 30px;
}
/*for mobile screen*/
@media screen and (max-width: 768px){
	ul{
		padding-bottom: 5%;
	}
	.one h1{
		margin-left: 3%;
		font-size: 2.5rem;
		
	}

	.person{
		height: 80%;
		width: 85%;
	}
	.member .h2{
	font-size: 1.5rem;
	}
	.member p{
	font-size: 1rem;
	}
	.two h1{
		margin-left: 3%;
		font-size: 3rem;
		margin-top: 20%;
	}
	.two div{
		font-size: 1.2rem;
		margin-left: 3%;
		margin-top: 15%

	}
	.go{
	padding-top:10%;
	margin-left: 3%;
	padding-bottom: 20%;
	}
	.navbar-dark .nav-pills .nav-link.active{
	background-color: black;
	color: #c6ff27;
	font-weight: 500;
}
.navbar-dark .navbar-nav.nav-pills .nav-item .option:hover{
	color: #c6ff27;
	background-color:black;
	font-weight: 500; 
}}