
@font-face { font-family: Product Sans Regular; src: url('Product Sans Regular.ttf'); }
@font-face { font-family: Product Sans Bold; src: url('Product Sans Bold.ttf'); }
body{
	background-color: black;
	font-family: Product Sans Regular;
}
img{
	height: 75px;
	width: 75px;	
}
.navbar-dark .navbar-nav  .nav-link {
	color: white;
}
.navbar-dark .nav-pills .nav-link.active{
	background-color: #c6ff27;
	color: black;
	font-weight: 500;
}
.navbar-dark .navbar-nav.nav-pills .nav-item .option:hover{
	color: black;
	background-color:#c6ff27;
	font-weight: 500; 
}
.navbar-toggler{
position:absolute;
     top:18px;
     right:10px;
width: 55px;
height: 40px;
border: 0;
background-color: black;
}
.navbar-toggler .line{
width: 100%;
float: left;
height: 3px;
background-color: white;
margin-bottom: 7px;
}
h1{
	margin-left: 10%;
	font-size: 4rem;
	
}
/*form*/
form .form-control{
	width: 50%;
	background-color: #3b3935;
	color: white;
}
form input{
	color: white;
}
form .star{
	color: #c6ff27;
}
form label{
	color: white;
	font-size: 1.2rem;
	font-family: Product Sans Bold;
}

form  .btn{
	background-color: #3b3935;
	color: white;
	
}
/*button*/
.go{
	
	/*margin-left: 25%;*/
	margin-bottom: 10%;

}
.one .go .btn{
	background-color: #c6ff27;
	color: black;
	font-weight: 500;
	
}
button img{
	height: 30px;
	width: 30px;
}
/*footer*/
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  color: #4b4b4b;
  text-align: center;
}
.footer i{
	
	font-size: 150%;
	color: #4b4b4b;
	
}
/*for mobile screen */
@media screen and (max-width: 768px){
	ul{
		padding-bottom: 5%;
	}
	h1{
		font-size: 2.5rem;
		margin-left: 3%;
		margin-bottom: 15%;
			}
	.go{
		
		/*margin-left: 30px;*/
		margin-bottom: 20%;

	}
	.container{
			margin-left: 3%;
	}
	form .form-control{
	width: 90%;
	}
	/*.one .go .btn{
		margin-left: 3%;
	}*/
	.navbar-dark .nav-pills .nav-link.active{
	background-color: black;
	color: #c6ff27;
	font-weight: 500;
}
.navbar-dark .navbar-nav.nav-pills .nav-item .option:hover{
	color: #c6ff27;
	background-color:black;
	font-weight: 500; 
}
.footer i{
		font-size: 20px;
	}
	.footer p{
		font-size: 0.8rem;
	}
}
