 @font-face { font-family: Product Sans Regular; src: url('Product Sans Regular.ttf'); }
body{
	background-color: black;
	font-family: Product Sans Regular;
}
/*for navbar*/
img{
	height: 75px;
	width: 75px;	
}
.navbar-dark .navbar-nav  .nav-link {
	color: white;
}
.navbar-dark .nav-pills .nav-link.active{
	background-color: #c6ff27;
	color: black;
	font-weight: 500;
}
.navbar-dark .navbar-nav.nav-pills .nav-item .option:hover{
	color: black;
	background-color:#c6ff27;
	font-weight: 500; 
}
.navbar-toggler{
position:absolute;
     top:18px;
     right:10px;
width: 55px;
height: 40px;
border: 0;
background-color: black;
}
.navbar-toggler .line{
width: 100%;
float: left;
height: 3px;
background-color: white;
margin-bottom: 7px;
}
.jumbotron{
	padding-top: 15%;
	background-color: black;
}
.jumbotron h1{
	font-size: 4rem;
}
.lead{
	color: #4b4b4b;
}
/*button*/
.go{
	padding-top:10%;
}
	

.jumbotron .btn{
	background-color: #c6ff27;
	color: black;
	font-weight: 500;
}
button img{
	height: 30px;
	width: 30px;
}
@media screen and (max-width: 768px){
	.lead{
		font-size: 1rem;
	}
	.go{
		padding-top: 60%;
	}
	.navbar-dark .nav-pills .nav-link.active{
	background-color: black;
	color: #c6ff27;
	font-weight: 500;
}
.navbar-dark .navbar-nav.nav-pills .nav-item .option:hover{
	color: #c6ff27;
	background-color:black;
	font-weight: 500; 
}
	.jumbotron h1{
	font-size: 3rem;

	}

}