@font-face { font-family: Product Sans Regular; src: url('Product Sans Regular.ttf'); }
@font-face { font-family: Product Sans Bold; src: url('Product Sans Bold.ttf'); }
body{
	background-color: black;
	font-family: Product Sans Regular;

}
/*for navbar*/
img{
	height: 75px;
	width: 75px;	
}
.navbar-dark .navbar-nav  .nav-link {
	color: white;
}
.navbar-dark .nav-pills .nav-link.active{
	background-color: #c6ff27;
	color: black;
	font-weight: 500;
}
.navbar-dark .navbar-nav.nav-pills .nav-item .option:hover{
	color: black;
	background-color:#c6ff27;
	font-weight: 500; 
}
.navbar-toggler{
position:absolute;
     top:18px;
     right:10px;
width: 55px;
height: 40px;
border: 0;
background-color: black;
}
.navbar-toggler .line{
width: 100%;
float: left;
height: 3px;
background-color: white;
margin-bottom: 7px;
}
h1{
	margin-left: 10%;
	font-size: 4rem;
	
}
.two{
	margin-top: 40%;
	margin-bottom: 5%
}
.container{
	margin-left: 10%;
	padding-top: 3%;
}
h2{
	font-size: 1.8rem;
	font-family: Product Sans Bold;
}
.client{
	height: 100px;
	width: 100px;
}

/*footer*/
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  
  color: #4b4b4b;
  text-align: center;
}
.footer i{
	
	font-size: 150%;
	color: #4b4b4b;
	
}
/*for mobile screens*/
@media screen and (max-width: 768px){
	ul{
		padding-bottom: 5%;
	}
	h1{
		font-size: 2.5rem;
		margin-left: 3%;
	}
	.container{
		margin-left: 3%;
	}
	.two{
		margin-top: 80%;
	}
	.col-10{
		font-size: 1rem;
	}
	h2{
		font-size: 1.5rem;
	}
	.navbar-dark .nav-pills .nav-link.active{
	background-color: black;
	color: #c6ff27;
	font-weight: 500;
}
.navbar-dark .navbar-nav.nav-pills .nav-item .option:hover{
	color: #c6ff27;
	background-color:black;
	font-weight: 500; 
}
	.client{
	height: 75px;
	width: 75px;
}
.footer i{
		font-size: 20px;
	}
	.footer p{
		font-size: 0.8rem;
	}
	}
