@font-face { font-family: Product Sans Regular; src: url('Product Sans Regular.ttf'); }
@font-face { font-family: Product Sans Bold; src: url('Product Sans Bold.ttf'); }
body{
	background-color: black;
	font-family: Product Sans Regular;
}
/*for navbar*/
.navbar{
	max-height: 50px;
}

.navbar-dark .navbar-nav  .nav-link {
	color: white;
}
.navbar-dark .nav-pills .nav-link.active{
	background-color: #c6ff27;
	color: black;
	font-weight: 500;
}
.bg-custom{
	background-color: black;
}
.navbar-dark .navbar-nav.nav-pills .nav-item .option:hover{
	color: black;
	background-color:#c6ff27;
	font-weight: 500; 
}
.navbar-toggler{
position:absolute;
     top:5px;
     right:5px;
width: 55px;
height: 30px;
border: 0;
background-color: black;
}
.navbar-toggler .line{
width: 90%;
float: left;
height: 3px;
background-color: white;
margin-bottom: 5px;
}

/*home section*/
.home .first{
	margin-top: 10%;
	margin-left: 10%;
}
.home h1{
	font-size: 4rem;

}
.first p{
	font-size: 1.2rem;
	color: #4b4b4b;
}
.home .go{
	margin-top: 10%;
}

.go .green-button{
	background-color: #c6ff27;
	color: black;
	font-weight: 500;
}
button img{
	height: 30px;
	width: 30px;
}

/*about section*/
.heading h1{
	margin-left: 4%;
	font-size: 4rem;
	
}
.person{
	height: 130px;
	width: 130px;
}
#about .member .h2{
	font-size: 2rem;
	font-family: Product Sans Bold;
}
#about .member p{
	font-size: 1.5rem;
}

/*#projects h1{
	margin-left: 4%;
	font-size: 4rem;
}*/
#projects .card{
	background-color: black;
}
/*#projects .two .row.container{
	padding-left: 20%; 
}*/
/*#contact h1{
	margin-left: 4%;
	font-size: 4rem;
}*/
/*form*/
form .form-control{
	width: 50%;
	background-color: #3b3935;
	color: white;
}
form input{
	color: white;
}
form .star{
	color: #c6ff27;
}
form label{
	color: white;
	font-size: 1.2rem;
	font-family: Product Sans Bold;
}

form  .btn{
	background-color: #3b3935;
	color: white;
	
}
/*footer*/
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  
  color: #4b4b4b;
  text-align: center;
}
.footer i{
	
	font-size: 150%;
	color: #4b4b4b;
	
}


@media screen and (max-width: 768px){
	.navbar .navbar-collapse{
	background-color: black;
}
	.navbar-dark .nav-pills .nav-link.active{
	background-color: black;
	color: #c6ff27;
	font-weight: 500;
}
.navbar-dark .navbar-nav.nav-pills .nav-item .option:hover{
	color: #c6ff27;
	background-color:black;
	font-weight: 500; 
}
.home .first{
	margin-left: 3%;
}
.first p{
	font-size: 1rem;
}
.home h1{
	font-size: 3rem;
}
.heading h1{
	font-size: 3rem;
	margin-left: 3%;
}
.person{
	height: 90px;
	width: 90px;
}
#about .member .h2{
	font-size: 1.5rem;
}
#about .member p{
	font-size: 1rem;
}
#contact .container{
			margin-left: 3%;
	}
form .form-control{
	width: 90%;
	}
.footer i{
		font-size: 20px;
	}
	.footer p{
		font-size: 0.8rem;
	}

}